<p-dialog [(visible)]="visible" header="Add Product" [modal]="true" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" (onHide)="appClose.emit()">
    <form [formGroup]="formGroup">
        <div class="p-fluid grid pt-4">
            <div class="p-field col-12 lg:col-6">
                <span class="p-float-label">
                    <input id="float-input" type="text" pinputtext="" formControlName="name"
                        class="p-inputtext p-component p-element p-filled" required>
                    <label for="float-input">Name<span class="required">*</span></label>
                </span>
            </div>
            <div class="p-field col-12 lg:col-6">
                <span class="p-float-label">
                    <input id="float-input" type="text" pinputtext="" formControlName="sku"
                        class="p-inputtext p-component p-element p-filled" required>
                    <label for="float-input">SKU<span class="required">*</span></label>
                </span>
            </div>
            <div class="p-field pt-4 col-12 lg:col-6">
                <p-floatLabel>
                    <p-cascadeSelect formControlName="categoryId" [options]="categories" optionLabel="data.name"
                        optionGroupLabel="data.name" [optionGroupChildren]="['children']"
                        [style]="{ minWidth: '14rem' }" optionValue="data.id" />
                    <label for="float-label">Select a Category<span class="required">*</span></label>
                </p-floatLabel>
            </div>
            <div class="p-field pt-4 col-12 lg:col-6">
                <p-floatLabel>
                    <p-dropdown [options]="manufacturerLookUp" formControlName="manufacturerId" optionLabel="name"
                        inputId="float-label" optionValue="id" />
                    <label for="float-label">Select a Manufacturer<span class="required">*</span></label>
                </p-floatLabel>
            </div>
            <div class="p-field pt-4 col-12 lg:col-6">
                <p-floatLabel>
                    <p-multiSelect 
                        inputId="float-label" 
                        [options]="tagLookup" 
                        formControlName="tag"
                        optionLabel="label"
                        optionValue="id" />
                    <label for="float-label">Select Tags</label>
                </p-floatLabel>
                
            </div>
            <div class="p-field col-12 pt-4 lg:col-12">
                <span class="p-float-label">
                    <textarea rows="5" cols="88" pInputTextarea formControlName="desc">
                        </textarea>
                    <label for="float-input">Description<span class="required">*</span></label>
                </span>
            </div>
            
            <div class="p-field col-12 pt-4 lg:col-12">
                <p-fileUpload name="file" mode="basic" 
                    maxFileSize="1000000" chooseLabel="Choose" uploadLabel="Upload" cancelLabel="Cancel"
                    customUpload="true" (uploadHandler)="onUpload($event)" [auto]="true"/>  
                
            </div>

        </div>
    </form>
    <ng-template pTemplate="paginatorright">
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" icon="pi pi-check" [loading]="isLoading" (onClick)="save()" />
        </div>
    </ng-template>

  
</p-dialog>


